<div id="<%= dom_id issued_book %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= issued_book.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Book:</strong>
    <%= issued_book.book_id %>
  </div>
</div>
