<% content_for :title, "Editing issued book" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing issued book</h1>

  <%= render "form", issued_book: @issued_book %>

  <%= link_to "Show this issued book", @issued_book, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to issued books", issued_books_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
